_build
*.native
*.byte
*.docdir
META
*.mldylib
*.mllib
*.clib

tests/*.cmi
tests/*.cmt
tests/*.cmo
tests/*.cma

setup.data
setup.log
README.org
scratch
notes.txt
dump_stats.ml
scratch.c
T
scratch.cpp
myocamlbuild.ml
api.odocl
brotli.0.1
alice29.txt
